<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230359199625-mcr4srv4ld6ge15g6nf3anb8fi5frm50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230359199625-mcr4srv4ld6ge15g6nf3anb8fi5frm50</string>
	<key>API_KEY</key>
	<string>AIzaSyDKqFVacBOdtJR_HAc2Ll3xQBUdrS6g8aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>230359199625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhukuti</string>
	<key>PROJECT_ID</key>
	<string>dhukuti-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>dhukuti-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230359199625:ios:760d306546f420268b7b58</string>
</dict>
</plist>